body {
  background-color:#0834A6;
  color: #FCEB6C;
  font-family: 'Avenir Next', 'Avenir', 'Helvetica Neue', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
}
html, body {
    height: 100%; /*zen*/
}
a {
  color: #7787B0;
}
.container-fluid {
  max-width: 920;
  margin: 0 auto;
  text-align: center
}
.backsnow {
  background-image: url(https://rainboxapp.s3.amazonaws.com/snowflakes.svg);
  background-repeat: repeat-x;
  background-size: contain;
}
.seahorse {
  position: absolute;
  margin-left: 33%;
}
.actioncall {
  position: absolute;
  position: -webkit-sticky; /* Safari */
  float: right;
  margin-right: 8%;
  padding-bottom: 20px;
  bottom: 0;
  right: 10%;
  color: #081E60;
  text-align: right;
  font-weight: 800;
}
